body{
margin-left: auto;
margin-right: auto;
display: block;
width: 90%;
font-size: large;
font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
font-size:14px;
color:#565656;
}

#head{
margin-top: 30px;
height: 100px;
}

#mainTitle{
font-size: xx-large;
font-weight: bolder;
padding-top: 25px;
}

#logo{
float: right;
}

form{
border: solid black 1px;
border-radius: 10px;
-moz-border-radius: 10px;
padding: 10px;
margin-top: 15px;
margin-bottom: 15px;
}

/*#termStatisticForm{
width: 400px;
}*/

.title, #csv{
font-size: large;
font-weight: bold;
}

ul{
list-style-type: square;
}

li{
margin-top: 5px;
}

#content{
padding-left: 15px;
margin-left: auto;
margin-right: auto;
display: block;
}

#logsButton{
padding: 10px;
}

#export_button{
padding: 5px;
margin-top: 10px;
}

/*.deleteArchive{
color: red;
font-weight: bold;
}*/

input:hover, .deleteArchive:hover{
cursor: pointer;
}


/*#data_view{
margin-top: 20px;
margin-bottom: 20px;
font-size: smaller;
}

#data_view td{
border: solid gray 1px;
padding-left: 10px;
padding-right: 10px;
}

tr:nth-child(odd){
background-color: #EDE4E6;
}

#export_data_button{
border: solid gray 1px;
background-color: #EDE4E6;
width: 100px;
padding: 8px;
margin-top: 20px;
border-radius: 5px;
-moz-border-radius: 5px;
text-align: center;
font-size: smaller;
}*/

a{
/* text-decoration: none; */
color: black;
}

.floated{
float: left;
}

.description{
font-size: smaller;
}

/*#subrange_left_input, #subrange_right_input, #regexp_input{
border-radius: 5px;
-moz-border-radius: 5px;
padding: 5px;
}*/

#data_edit{
margin-top: 20px;
vertical-align: middle;
width: 90%;
margin-left: auto;
margin-right: auto;
/*display: block;*/
border-collapse: collapse;
max-width: 1400px;
}

#data_filter{
margin-top: 20px;
vertical-align: middle;
width: 80%;
margin-left: auto;
margin-right: auto;
/*display: block;*/
border-collapse: collapse;
max-width: 1200px;
}


#data_edit td, #data_filter td{
padding-top: 3px;
padding-right: 3px;
padding-left: 10px;
}

#data_filter td{
	text-align: center;
}

#data_edit tr{
border: solid grey 1px;
}

#data_edit tr textarea{
resize: vertical;
}

th{
font-size: 14px;
font-weight: bold;
padding: 5px;
text-align: center;
}

#id_note, #note, #term_search, #date_from, #date_to{
height: 20px;
border: solid #dedede 1px;
/*border-radius: 10px;*/
/*-moz-border-radius: 10px;*/
}

#date_from, #date_to{
	width: 50px;
}

#id_note{
	width: 90%;
}

#data_edit select{
background-color:#f5f5f5;
border:1px solid #dedede;
border-top:1px solid #eee;
border-left:1px solid #eee;
font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
font-size:12px;
font-weight:bold;
color:#565656;
}

#data_edit textarea{
	font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	font-size:12px;
}

#data_edit .count{
font-weight: bolder;
text-align: center;
}

#data_edit .acquisition{
text-align: center;
}

.button, button, .graph select{
border-radius: 5px;
-moz-border-radius: 5px;
text-align: center;
background-color:#f5f5f5;
border:1px solid #dedede;
border-top:1px solid #eee;
border-left:1px solid #eee;
line-height:130%;
text-decoration:none;
font-weight:bold;
color:#565656;
cursor:pointer;
padding:5px 10px 6px 7px;
}

#data_edit .subject{
	font-weight: bold;
	color: black;
}

#data_edit .disabled{
	background-color: none;
}

#data_edit .accepted{
	background-color: #83E079;
}

#data_edit .denied{
	background-color: #dedede;
}

#data_edit .neutral{
	background-color: #F57171;
}

#data_edit .psh_descriptor{
	background-color: #558FF2;
}

#data_edit .psh_nondescriptor{
	background-color: #A2C0F5;
}

.home_link{
	margin-top: 15px;
	font-weight: bold;
}

#hide_processed{
	margin-top: 20px;
	margin-left: 40px;
	width: 150px;
}

#filter_bar{
	height: 100px;
	position: fixed;
	bottom: 100px;
	background-color: #FFFFFF;
}

/*#data_filter button{
	vertical-align: middle;
	/*padding-bottom: 10px;
	padding-top: 0px;
}*/

.ui-multiselect-menu{
	background-color: #ffffff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	text-align: left;
	background-color:#f5f5f5;
	border:1px solid #dedede;
	border-top:1px solid #eee;
	border-left:1px solid #eee;
	display: none;
}

.ui-multiselect-menu ul{
	list-style-type: none;
}

.pagination{
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
	margin-top: 20px;
	font-size: 20px;
	text-decoration: none;
}

.active:hover{
	cursor: pointer;
	color: grey;
}

.active{
	color: black;
	font-weight: bold;
}

.inactive{
	color: grey;
}

#graph{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	-moz-border-radius: 5px;
	margin-top: 20px;
}

#export_graph{
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
}

hr{
	margin-top: 20px;
	margin-bottom: 20px;
}
