body{
margin-left: auto;
margin-right: auto;
display: block;
width: 90%;
font-size: large;
font-family: 'Ubuntu', sans-serif;
font-size:14px;
color:#565656;
}

#head{
margin-top: 30px;
height: 100px;
}

#main_title{
font-size: xx-large;
font-weight: bolder;
padding-top: 25px;
margin-left: 20px;
}

#main_title a{
	text-decoration: none;
}

h3{
	margin-left: 20px;
}

input{
	margin-left: 10px;
	height: 20px;
	border: solid #dedede 1px;
	padding: 5px;
	vertical-align: bottom;
}

button, .button, .graph select{
	padding: 8px;
	border: solid #558FF2 2px;
	font-weight: bold;
	vertical-align: bottom;
	background-color: #EBEBEB;
	font-family: 'Ubuntu', sans-serif;	
}

button:hover{
	cursor: pointer;
}

#login_form, #registration_form{
margin-left: auto;
margin-right: auto;
display: block;
width: 50%;
max-width: 300px;
/*border-radius: 15px;*/
border: 2px solid #558FF2;
font-size: 16px;
color: black;
padding: 20px;
/*background-color: #EBEBF2;*/
}

#login_form div, #registration_form div, #login_form button, #registration_form button{
margin-top: 30px;
margin-left: auto;
margin-right: auto;
display: block;
}

#login_form input{
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:200px;
text-align: center;
margin-left: auto;
margin-right: auto;
display: block;
}

#login_form label{
margin-left: auto;
margin-right: auto;
display:block;
font-weight:bold;
text-align:center;
width:140px;

}
#user{
	margin-left: 20px;
}

#logout{
	margin-left: 20px;
}

#logo{
float: right;
}

#upload_export_form button{
	margin-left: 15px;
}

#upload_export_form{
padding: 20px;
margin-top: 15px;
margin-bottom: 15px;
margin-left: 20px;
width: 30%;
max-width: 400px;
border: 2px solid #558FF2;
}

#graph_form{
border: none;
width: 50%;
margin-left: auto;
margin-right: auto;
display:block;
}

#export_graph_button{
padding: 5px;
margin-top: 10px;
margin-left: auto;
margin-right: auto;
display: block;
width: 30%;
}

.title{
font-size: large;
font-weight: bold;
}

ul{
list-style-type: square;
}

li{
margin-top: 5px;
}

#content{
margin-left: auto;
margin-right: auto;
display: block;
}

a{
color: black;
}

.floated{
float: left;
}

.description{
font-size: smaller;
}

#data_edit{
margin-top: 20px;
vertical-align: middle;
width: 90%;
margin-left: auto;
margin-right: auto;
border-collapse: collapse;
max-width: 1400px;
}

#data_filter{
margin-top: 20px;
vertical-align: middle;
width: 90%;
margin-left: auto;
margin-right: auto;
border-collapse: collapse;
max-width: 1200px;
}


#data_edit td, #data_filter td{
padding-top: 3px;
padding-right: 3px;
padding-left: 10px;
}

#data_filter td{
text-align: center;
}

#data_edit tr{
border: solid grey 1px;
}

#data_edit thead tr{
	border: none;
}

#data_edit tr textarea{
resize: vertical;
}

th{
font-size: 14px;
font-weight: bold;
padding: 5px;
text-align: center;
}

#id_note, #note, #term_search, #date_from, #date_to{
height: 20px;
border: solid #dedede 1px;
}

#date_from, #date_to{
	width: 50px;
}

#id_note{
	width: 90%;
}

#data_edit select{
background-color:#f5f5f5;
border:1px solid #dedede;
border-top:1px solid #eee;
border-left:1px solid #eee;
font-size:12px;
font-weight:bold;
color:#565656;
}

#data_edit textarea{
	font-size:12px;
}

#data_edit .count{
font-weight: bolder;
text-align: center;
}

#data_edit .acquisition{
text-align: center;
}

#data_edit .subject{
	font-weight: bold;
	color: black;
}

#data_edit .disabled{
	background-color: none;
}

#data_edit .accepted{
	background-color: #83E079;
}

#data_edit .denied{
	background-color: #dedede;
}

#data_edit .neutral{
	background-color: #F57171;
}

#data_edit .psh_descriptor{
	background-color: #558FF2;
}

#data_edit .psh_nondescriptor{
	background-color: #A2C0F5;
}

.home_link{
	margin-top: 15px;
	font-weight: bold;
}

#hide_processed{
	margin-top: 20px;
	margin-left: 40px;
	width: 150px;
}

#filter_bar{
	height: 100px;
	position: fixed;
	bottom: 100px;
	background-color: #FFFFFF;
}

.ui-multiselect-menu{
	background-color: #ffffff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	text-align: left;
	background-color:#f5f5f5;
	border:1px solid #dedede;
	border-top:1px solid #eee;
	border-left:1px solid #eee;
	display: none;
}

.ui-multiselect-menu ul{
	list-style-type: none;
}

.pagination{
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
	margin-top: 20px;
	font-size: 20px;
	text-decoration: none;
}

#previous_page, #next_page, #first_page, #last_page{
	font-weight: bold;
	font-size: 26px;
}

.active:hover{
	cursor: pointer;
	color: grey;
}

.active{
	color: black;
	font-weight: bold;
}

.inactive{
	color: grey;
}

#graph{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	-moz-border-radius: 5px;
	margin-top: 20px;
}

#export_graph{
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
}

hr{
	margin-top: 20px;
	margin-bottom: 20px;
}

#acquisition_export_button{
	width: 30%;
	margin-top: 20px;
	margin-left: auto;	
	margin-right: auto;
}

#acquisition_export{
	width: 80%;
	margin-top: 20px;
	display: none;
}

#acquisition_export div{
	margin-top: 5px;
}

#filter_category, #filter_subject_category{
	width: 200px;
}
