<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/log_analysis/static/css/style.css" type="text/css"/>
    <script src="/log_analysis/static/js/jquery.min.js"></script>
    <script src="/log_analysis/static/js/jquery.spinner.js"></script>
    <script src="/log_analysis/static/js/log_analysis.js"></script>

</head>

<body>
<div id="head"><a href="http://www.techlib.cz" target=blank><img id="logo" src="/log_analysis/static/img/ntk_logo.png"/></a><div id="mainTitle">Analýza logu vyhledávání v katalogu NTK</div></div>
<hr/>
<div id="content">
{% block content %}{% endblock %}
</div>
<hr/>
</body>
</html>
