{% extends "base.html" %}

{% block content %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="http://canvg.googlecode.com/svn/trunk/rgbcolor.js"></script> 
<script type="text/javascript" src="http://canvg.googlecode.com/svn/trunk/canvg.js"></script> 

{% if filters.graph %}
<script type="text/javascript">

google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
        	{% for item in graph_data.data %}
        		["{{ item.0 }}", {{ item.1 }}],
        	{% endfor %}
        	]);
        var options = {
          title: '{{ graph_data.date_from }} - {{ graph_data.date_to }},   vyhledávání: {{ graph_data.count }} ',
          height: "600",
          is3D: true,
          pieSliceText: "percentage",
          backgroundColor: "#FFFFFF",
          chartArea:{left:"auto",top:"auto",width:"80%",height:"80%"}
          // chartArea:{left:"50",top:"50", right: "50", bottom:"50", width:"80%",height:"80%"}
        };

        var chart = new google.visualization.PieChart(document.getElementById('graph'));
        chart.draw(data, options);
      }
</script>
{% endif %}
<div class="home_link"><a href='index'>Zpět na hlavní stránku</a></div>
<!-- <div id="hide_processed" class="button" data-state="on">Schovej zpracované</div> -->

<table id="data_filter">
	<thead>
		<tr>
			<th>Datum - od:</th>
			<th>Datum - do:</th>
			<th>Termín obsahuje:</th>
			<th></th>
			<th></th>
			<th>Akvizice:</th>
			<!-- <th>Poznámka obsahuje:</th> -->
			<th>Schovat zpracované:</th>
			<th>Graf:</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tr>
		<form action="data_edit" method="get" id="filter_form">
			<td><input type="text" value="{{ filters.date_from }}" name="date_from" id="date_from" class="changeable"></td>
			<td><input type="text" value="{{ filters.date_to }}" name="date_to" id="date_to"></td>
			<td><input type="text" value="{{ filters.term_search }}" name="term_search" id="term_search"></td>
			<td id="filter_category" data-original="{{filters.filter_category}}">{{ filter_form.filter_category }}</td>
			<td id="filter_subject_category" data-original="{{filters.filter_subject_category}}">{{ filter_form.filter_subject_category }}</td>
			<td class="acquisition" data-original="{{filters.acquisition}}">{{ edit_form.acquisition }}</td>
			<!-- <td><input type="text" value="{{ filters.note }}" name="note" id="note"></td> -->
			<td class="hide_processed" data-original="{{filters.hide_processed}}">{{ filter_form.hide_processed }}</td>
			<td class="graph" data-original="{{filters.graph}}">{{ filter_form.graph }}</td>
			<td><input type="submit" value="Nastav" class="button" id="set_filters"></td>
			<td><a href="./data_edit"><div class="button">Storno</div></a></td>
			<input id="page_number" type="hidden" name="page" value={{ filters.page }} />
		</form>
	</tr>
</table>

{% if filters.graph %}
<hr />
<div id="graph"></div>
<form action="export_graph_as_png" method="post" id="graph_form">
<input id="graph_input" type="hidden" name="graph" value="a" />
<input type="submit" value="Export grafu" class="button" id="export_graph_button">
</form>
<!-- <div class="button" id="export_graph">Export grafu</div> -->
<hr />
{% endif %}

<div class="pagination"><span class="{{ previous }}" id="previous_page">&lt;  </span> {{ filters.page|add:"1" }} z {{page_count}}<span class="{{ next }}" id="next_page">  &gt;</span></div>

<table id="data_edit">
<thead>
<tr id="data_edit_header">
<th>Datum</th>
<th>Termín</th>
<th>Počet</th>
<th>Kategorie</th>
<th>Podkategorie</th>
<th>Akvizice</th>
<th>Poznámka</th>
</tr>
</thead>

{% for term in terms %}

{% if term.processed %}
<tr class="processed">
{% else %}
<tr>
{% endif %}
<form>
<td class="date">{{ term.date|date:"m/Y" }}</td>
<td class="subject">{{ term.subject }}</td>
<td class="count">{{ term.count }}</td>
<td class="category" data-original="{{term.category_id}}">{{ edit_form.category }}</td>
<td class="disabled subject_category" data-original="{{term.subjectcategory_id}}">{{ edit_form.subject_category }}</td>
<td class="acquisition" data-original="{{term.acquisition}}">{{ edit_form.acquisition }}</td>
{% if term.note %}
<td class="note resized" data-original="{{term.note}}">{{ edit_form.note }}</td>
{% else %}
<td class="note" data-original="">{{ edit_form.note }}</td>
{% endif %}
</form>
</tr>
{% endfor %}
</table>
<div class="pagination"><span class="{{ previous }}" id="previous_page">&lt;  </span> {{ filters.page|add:"1" }} z {{page_count}}<span class="{{ next }}" id="next_page">  &gt;</span></div>
<!-- {% if filters.acquisition %}
<a href="acquisition_export">Export akvizice</a>
{% endif %} -->
<div class="home_link"><a href='index'>Zpět na hlavní stránku</a></div>
{% endblock %}