{% extends "base.html" %}

{% block content %}

<h3><a href="data_edit">Editace aktuálních dat</a></h3>
<div class="description">
<ul>
<li>Editor aktuálních dat obsahuje všechny termíny - zpracované/nezpracované.</li>
<li>Zpracované termíny se automaticky každých 60 sekund ukládají do databáze.</li>
</ul>
</div>

<hr />

<h3>Vložte Google Analytics CSV export ('.csv')</h3>
<form enctype="multipart/form-data" action="store_GAExport" method="post" id="upload_export_form">
{{ form.file }}
<hr/>
<button type="submit">Nahrát soubor</button>
</form>
<div class="description">
<ul>
<li>Zde se nahrávají nové soubory s exporty uživatelských dotazů ze služby Google Analytics. Termíny již nejsou vyřazovány na základě jejich předchozího zpracování, ale dochází k aktualizaci vyhledávaného termínu.</li>
</ul>
</div>

{% endblock %}
